<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mypage</title>
    <link rel = "stylesheet" href = "../static/css/header.css">
    <link rel = "stylesheet" href = "../static/css/mypage.css">

    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div class="container">

        <!-- header -->
        <%- include ('./header.ejs') %>

        <!-- section -->
        <section id="firstSection" class="d-none">
            <%- include ('./mypageNav.ejs') %>

            <div class="content">
                <div class="section1">
                    <div class="prorfileImg">
                        <p class="explainText">
                            프로필 사진
                        </p>
    
                        <div class="imgPosit">
                            <img id="userImg" src="<%= UserData.profile_img %>" />

                            <div class="imgBtn">
                                <input type="file" id="fileInput">
                                <button type="button">수정</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section2">
                    <div class="userInfo">
                        <div class="inputTags">
                            <div class="labelTags">
                                <label for="user_id">아이디:</label>
                                <label for="user_pw" class="checkName">비밀번호:</label>
                                <label for="check_pw">비밀번호 확인:</label>
                                <label for="user_name" class="checkName">이름:</label>
                                <label for="user_birth">생년월일:</label>
                            </div>
                            
                            <form name="form_userTableInfo">
                                <div class="inputName">
                                    <div id="duplicationCheck" class="checkInputName">
                                    <input type="text" id="user_id"  value="<%= UserData.user_id %>" name="user_id" placeholder="아이디" autocomplete="off"/>
                                    <button type="button" class="checkbtn" id="checkId" onclick="idTest();">중복확인</button>
                                </div>
                                <div class="showText" id="checkTextId">aaaa</div>

                                <input type="text" id="user_pw" value="<%= UserData.user_pw %>" name="user_pw" placeholder="비밀번호" autocomplete="off"/>
                                <div id="duplicationCheck" class="checkInputName">
                                    <input type="password" id="user_pw_check" placeholder="새 비밀번호 확인" autocomplete="off"/>
                                    <button type="button" class="checkbtn" id="checkPw">비번확인</button>
                                </div>
                                <div class="showText" id="checkTextpw">aaaaa</div>

                                <input type="text" id="user_name" value="<%= UserData.user_name %>" name="user_name" placeholder="이름" autocomplete="off"/>
                                <input type="text" id="user_birth" value="<%= UserData.user_birth %>" name="user_birth" placeholder="생년월일" autocomplete="off"/>

                                <div class="userInfoBtn">
                                    <button type="button" onclick="userinfoEdit();">수정하기</button>
                                    <button type="button">탈퇴하기</button>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="secondSection" class="">
            <%- include ('./mypageNav.ejs') %>
            <div class="postDiv">
                <div class="subjectText">
                    <p><%= user %>님이 올린 게시물</p>
                </div>

                <div class="posts">
                    <div class="myPostImgs">
                        <% for(let i = 0; i < PostData.length; i++) { %>
                           <div class="imgBtn">
                                <img src = "<%= PostData[i].img_src %>" data-img="<%= i %>">
                                <button type="button" class="postBtn" onclick="postDeleteBtn('<%= PostData[i].id %>')">삭제하기</button>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </section>

        <section id="thirdSection" class="d-none">
            <%- include ('./mypageNav.ejs') %>
                3section 좋아요 페이지
        </section>

    </div>

    <script src="../static/js/mypage.js"></script>
</body>
</html>