<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mypage</title>
    <link rel = "stylesheet" href = "../static/css/nav.css">

    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .container{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    section{
        width: 100%;
        height: 100%;
        display: flex;
    }
    .d-none{
        display: none;
    }
    section nav{
        width: 20%;
        height: 80%;
        margin: auto 0;
        background-color: gray;
        display: flex;
        justify-content: center;
    }
    section ul{
        width: 70%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 100px;
    }
    section li{
        border: 1px solid red;
        margin-left: 30px;
        font-size: 23px;
        font-weight: 600;
        list-style: none;
        color: white;
        cursor: pointer;
        
    }
    section .content{
        width: 80%;
        display: flex;
        background-color: skyblue;
    }
    section .section1{
        width: 35%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section .prorfileImg{
        width: 100%;
        height: 80%;
        background-color: white;
        border: 3px solid purple;
    }
    section .explainText{
        font-size: 23px;
        font-weight: 600;
        margin-left: 15px;
    }
    section .imgPosit{
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
        border: 1px solid red;
    }
    section #userImg{
        border: 1px solid black;
        border-radius: 50%;
        width: 250px;
        height: 250px;
    }
    section .imgBtn{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }
    .imgBtn button{
        width: 270px;
        height: 30px;
        margin: 15px 0;
    }
    section .section2{
        width: 65%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section{
        overflow: hidden;
    }
    section .userInfo{
        width: 100%;
        height: 80%;
        border: 2px solid green;
        background-color: #bbb;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section .inputTags{
        width :80%;
        height: 78%;
        border: 3px solid black;
        display: flex;
        padding-bottom: 30px;
        padding-top: 20px;
        margin-top: 15px;
    }
    .section2 .labelTags{
        width : 35%;
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        text-align: left;
    }
    .section2 .checkName{
        padding-top: 10px;
    }
    .section2 .labelTags label{
        margin: 19px;
    }
    .section2 .inputTags input{
        width: 300px;
        height: 40px;
        margin: 10px 0;
        margin-left: 10px;
        border-radius: 10px;
        border: none;
    }
    .section2 .checkbtn{
        width: 70px;
        height: 40px;
        margin-left: 10px;
        border-radius: 10px;
        border: none;
    }
    .section2 .userInfoBtn{
        margin-left: 10px;
        margin-top: 10px;
    }
    .section2 .userInfoBtn button{
        width: 140px;
        height: 40px;
        margin-right: 15px;
    }
    .section2 .checkInputName input{
        margin-bottom: 0;
    }
    .section2 .showText{
        margin-left: 10px;
        font-size: 14px;
        color: red;
    }
    #secondSection .postDiv{
        width: 80%;
    }
    #secondSection .subjectText{
        padding-top: 40px;
        height: 10%;
        font-size: 20px;
    }
    #secondSection .posts{
        height: 90%;
        overflow-y: scroll;
    }
    #secondSection .myPostImgs{
        margin: 0 auto;
        width: 90%;
        padding: 0 45px;
        padding-top: 40px;
        display: flex;
        flex-wrap: wrap;
    }
    #secondSection .myPostImgs img{
        width: 250px;
        height: 250px;
        margin: 0 70px;
    }
    #secondSection .imgBtn{
        width: 290px;
        margin: 0
    }
    #secondSection button{
        width: 250px;
        margin-left: 70px;
    }
</style>
<body>
    <div class="container">

        <!-- header -->
        <%- include ('./header.ejs') %>

        <!-- section -->
        <section id="firstSection" class="d-none">
            <%- include ('./mypageNav.ejs') %>

            <div class="content">
                <div class="section1">
                    <div class="prorfileImg">
                        <p class="explainText">
                            프로필 사진
                        </p>
    
                        <div class="imgPosit">
                            <img id="userImg" src="<%= UserData.profile_img %>" />

                            <div class="imgBtn">
                                <input type="file" id="fileInput">
                                <button type="button">수정</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section2">
                    <div class="userInfo">
                        <div class="inputTags">
                            <div class="labelTags">
                                <label for="user_id">아이디:</label>
                                <label for="user_pw" class="checkName">비밀번호:</label>
                                <label for="check_pw">비밀번호 확인:</label>
                                <label for="user_name" class="checkName">이름:</label>
                                <label for="user_birth">생년월일:</label>
                            </div>
                            
                            <form name="form_userTableInfo">
                                <div class="inputName">
                                    <div id="duplicationCheck" class="checkInputName">
                                    <input type="text" id="user_id"  value="<%= UserData.user_id %>" name="user_id" placeholder="아이디" autocomplete="off"/>
                                    <button type="button" class="checkbtn" id="checkId" onclick="idTest();">중복확인</button>
                                </div>
                                <div class="showText" id="checkTextId">aaaa</div>

                                <input type="text" id="user_pw" value="<%= UserData.user_pw %>" name="user_pw" placeholder="비밀번호" autocomplete="off"/>
                                <div id="duplicationCheck" class="checkInputName">
                                    <input type="password" id="user_pw_check" placeholder="새 비밀번호 확인" autocomplete="off"/>
                                    <button type="button" class="checkbtn" id="checkPw">비번확인</button>
                                </div>
                                <div class="showText" id="checkTextpw">aaaaa</div>

                                <input type="text" id="user_name" value="<%= UserData.user_name %>" name="user_name" placeholder="이름" autocomplete="off"/>
                                <input type="text" id="user_birth" value="<%= UserData.user_birth %>" name="user_birth" placeholder="생년월일" autocomplete="off"/>

                                <div class="userInfoBtn">
                                    <button type="button" onclick="userinfoEdit();">수정하기</button>
                                    <button type="button">탈퇴하기</button>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="secondSection" class="">
            <%- include ('./mypageNav.ejs') %>
            <div class="postDiv">
                <div class="subjectText">
                    <p><%= user %>님이 올린 게시물</p>
                </div>

                <div class="posts">
                    <div class="myPostImgs">
                        <% for(let i = 0; i < PostData.length; i++) { %>
                           <div class="imgBtn">
                                <img src = "<%= PostData[i].img_src %>" data-img="<%= i %>">
                                <button type="button" class="postBtn" onclick="postDeleteBtn('<%= PostData[i].id %>')">삭제하기</button>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </section>
        <section id="thirdSection" class="d-none">
            <%- include ('./mypageNav.ejs') %>
                3section 좋아요 페이지
        </section>

    </div>

    <script src="../static/js/mypage.js"></script>
</body>
</html>