<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mypage</title>
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<style>
    #profile_img{
        width: 150px;
        height: 150px;
        border: 1px solid red;
        background-color: pink;
        border-radius: 50%;
    }
    img{
        width: 150px;
        height: 150px;
    }
</style>
<body>
    <h1>마이페이지</h1>
    
    <img id = "profile_img" src="<%= UserData.profile_img %>" />

    <button type = "button">프로필 편집</button>
    <p>한줄 소개</p>

    <hr>
    <form name="form_user">
        <label>ID</label><br/>
        <input type="text" name="user_id" value="<%= UserData.user_id %>"><br/>

        <label>PW</label><br/>
        <input type="text" name="user_pw" value="<%= UserData.user_pw %>"><br/>

        <label>NAME</label><br/>
        <input type="text" name="user_name" value="<%= UserData.user_name %>"><br/>

        <label>BIRTH</label><br/>
        <input type="text" name="user_birth" value="<%= UserData.user_birth %>"><br/>
        
        <button type="button" onclick="editProfile();">수정하기</button>
    </form>


    <form name="form_post">
        <% for(let i = 0; i < PostData.length; i++) { %>
            <img src = "<%= PostData[i].img_src %>">
        <% } %>
    </form>
    

    <script src="../static/js/mypage.js"></script>
</body>
</html>